### Lab: Movie Recommendation
- Dikshit 19CSU379
- DS E2

In [74]:
# Importing the numpy and pandas libraries and giving them the alias of np and pd respectively.
import numpy as np
import pandas as pd

In [75]:
# Reading the csv file and storing it in a dataframe.
df= pd.read_csv('../Top3000_imdb_indian_movies.csv')
df.head()

,Title,Date_of_Release,Genre,Crew_dir,Cast_stars,Plot_summary,Age_of_content,Votes,ImDBRating
0,3 Idiots,2009,"Comedy, Drama",Rajkumar Hirani,"Aamir Khan, Madhavan, Mona Singh, Sharman Joshi",Two friends are searching for their long lost ...,12,366038,8.4
1,Taare Zameen Par,2007,"Drama, Family","s:Aamir Khan, Amole Gupte","Darsheel Safary, Aamir Khan, Tisca Chopra, Vip...",An eight-year-old boy is thought to be a lazy ...,14,179838,8.4
2,PK,2014,"Comedy, Drama, Musical",Rajkumar Hirani,"Aamir Khan, Anushka Sharma, Sanjay Dutt, Boman...",An alien on Earth loses the only device he can...,7,171776,8.1
3,Radhe,2021,"Action, Crime, Thriller",Prabhu Deva,"Salman Khan, Disha Patani, Randeep Hooda, Jack...","After taking the dreaded gangster Gani Bhai, A...",0,171349,1.8
4,Dangal,2016,"Action, Biography, Drama",Nitesh Tiwari,"Aamir Khan, Sakshi Tanwar, Fatima Sana Shaikh,...",Former wrestler Mahavir Singh Phogat and his t...,5,170210,8.4

In [76]:
df.tail()

,Title,Date_of_Release,Genre,Crew_dir,Cast_stars,Plot_summary,Age_of_content,Votes,ImDBRating
2994,Waqt Ki Awaz,1988,"Action, Crime, Drama",K. Bapaiah,"Vikas Anand, Asrani, Mithun Chakraborty, Moush...",Wealthy Lata I. Prasad refuses to obey her wid...,33,105,6.3
2995,Ilzaam,1986,"Drama, Family",Shibu Mitra,"Shashi Kapoor, Shatrughan Sinha, Raj Kiran, An...",Ajay is a street dancer and while people are w...,35,105,5.9
2996,Jheel Ke Us Paar,1973,"Drama, Romance",Bhappi Sonie,"Dharmendra, Mumtaz, Prem Chopra, Mehmood Jr.",Kulwant Rai's horse carriage runs over a child...,48,105,7.2
2997,Ashad Ka Ek Din,1971,"Biography, Drama",Mani Kaul,"Aruna Irani, Arun Khopkar, Rekha Sabnis, Om Sh...",Aashad Ka Ek Din is an adaptation of the play ...,50,105,7.4
2998,Around the World,1967,"Comedy, Romance",Pachhi,"Raj Kapoor, Rajshree, Ameeta, Mehmood",Raj Singh is the nephew and heir apparent of m...,54,105,6.2

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2999 entries, 0 to 2998
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Title            2999 non-null   object
 1   Date_of_Release  2999 non-null   int64
 2   Genre            2999 non-null   object
 3   Crew_dir         2994 non-null   object
 4   Cast_stars       2999 non-null   object
 5   Plot_summary     2999 non-null   object
 6   Age_of_content   2999 non-null   int64
 7   Votes            2999 non-null   int64
 8   ImDBRating       2999 non-null   float64
dtypes: float64(1), int64(3), object(5)
memory usage: 211.0+ KB

In [78]:
# Assigning the values of the column 'Genre' to the variable 'genre'
genre=df['Genre'].values
genre

array(['Comedy, Drama            ', 'Drama, Family            ',
       'Comedy, Drama, Musical            ', ...,
       'Drama, Romance            ', 'Biography, Drama            ',
       'Comedy, Romance            '], dtype=object)

In [79]:
# Creating a list of unique genres.
types=[]
for i in genre:
    for j in i.split(','):
        if j.strip() not in types:
            types.append(j.strip())
print(types,len(types))

['Comedy', 'Drama', 'Family', 'Musical', 'Action', 'Crime', 'Thriller', 'Biography', 'Romance', 'Sport', 'Music', 'Adventure', 'Mystery', 'History', 'Horror', 'Fantasy', 'War', 'Sci-Fi', 'Animation', 'Western', '****'] 21

In [80]:
df.describe()
#if ImDBRating is less than mean then 0 else 1
df.loc[df['ImDBRating']<df['ImDBRating'].mean(),'ImDBRating_binary']=0
df.loc[df['ImDBRating']>=df['ImDBRating'].mean(),'ImDBRating_binary']=1
#change ImDBRating_binary to integer
df['ImDBRating_binary']=df['ImDBRating_binary'].astype(int)
df.head()

,Title,Date_of_Release,Genre,Crew_dir,Cast_stars,Plot_summary,Age_of_content,Votes,ImDBRating,ImDBRating_binary
0,3 Idiots,2009,"Comedy, Drama",Rajkumar Hirani,"Aamir Khan, Madhavan, Mona Singh, Sharman Joshi",Two friends are searching for their long lost ...,12,366038,8.4,1
1,Taare Zameen Par,2007,"Drama, Family","s:Aamir Khan, Amole Gupte","Darsheel Safary, Aamir Khan, Tisca Chopra, Vip...",An eight-year-old boy is thought to be a lazy ...,14,179838,8.4,1
2,PK,2014,"Comedy, Drama, Musical",Rajkumar Hirani,"Aamir Khan, Anushka Sharma, Sanjay Dutt, Boman...",An alien on Earth loses the only device he can...,7,171776,8.1,1
3,Radhe,2021,"Action, Crime, Thriller",Prabhu Deva,"Salman Khan, Disha Patani, Randeep Hooda, Jack...","After taking the dreaded gangster Gani Bhai, A...",0,171349,1.8,0
4,Dangal,2016,"Action, Biography, Drama",Nitesh Tiwari,"Aamir Khan, Sakshi Tanwar, Fatima Sana Shaikh,...",Former wrestler Mahavir Singh Phogat and his t...,5,170210,8.4,1

In [81]:
# Assigning the values of the column `ImDBRating_binary` to the variable `rating`.
rating=df['ImDBRating_binary'].values

In [82]:
dic={}
target=[]
# 1. create a dictionary with types as keys and values as 0
# 2. for each row in genre, split the string by ',' and strip the space
# 3. for each string in the list, if the string is in the dictionary, add 1 to the value
# 4. create a list with the values of the dictionary and append the rating of the row
# 5. create a list with the lists of values
for i in range(len(genre)):
    for j in types:
        dic[j]=0
    genre[i]=str(genre[i])
    for p in genre[i].split(','):
        p=p.strip()
        dic[p]+=1
    k=list(dic.values())
    k.append(rating[i])
    target.append(k)
print(len(target),len(target[0]))

2999 22

In [84]:
# Creating a numpy array from a list.
X=np.array(target)
print(X)

[[1 1 0 ... 0 0 1]
 [0 1 1 ... 0 0 1]
 [1 1 0 ... 0 0 1]
 ...
 [0 1 0 ... 0 0 1]
 [0 1 0 ... 0 0 1]
 [1 0 0 ... 0 0 1]]

In [85]:
# Importing the `distance` function from the `scipy.spatial` module.
from scipy.spatial import distance

'''
Finder function takes two arguments:
1. name of the movie
2. number of recommendations

first it checks if the movie is in the dataset, if not it prints "No recommendations found"
then it creates a list equal to the number of recommendations, and inserts the distance, distance array and index of the movie in the list
if a closer movie appears then it updates the list with the new distance and the new index then reurns the list of recommendations

'''

def finder(name,count):
    title=df['Title'].values
    title=[i.lower() for i in title]
    counter=-1
    for i in range(len(title)):
        if name in title[i]:
            counter=i
            break
    rec=[]
    if counter==-1:
        print("No recommendations found")
        return None
    else:
        for i in range(len(target)):
            if counter==i:
                continue
            else:
                if len(rec)<count:
                    rec.append([distance.euclidean(target[i], target[counter]),target[i],i])
                else:
                    rec.sort()
                    if distance.euclidean(target[i], target[counter])<rec[-1][0]:
                        rec[-1]=[distance.euclidean(target[i], target[counter]),target[i],i]
    names=df['Title'].values
    rec_names=[names[i] for i in [i[2] for i in rec]]
    return rec_names

In [87]:
ans=finder(input("Enter a movie name: ").lower().strip(),int(input("Enter the number of recommendations: ")))
#we return the list of recommendations with other information
if ans:
    for i in ans:
        print('Title: '+str(i)+' | Release Year: '+str(df[df['Title']==i]['Date_of_Release'].values[0])+' | Ratings: '+str(df[df['Title']==i]['ImDBRating'].values[0]))

Title: Munna Bhai M.B.B.S. | Release Year: 2003 | Ratings: 8.1
Title: Zindagi Na Milegi Dobara | Release Year: 2011 | Ratings: 8.2
Title: Badhaai ho | Release Year: 2018 | Ratings: 8.0
Title: Piku | Release Year: 2015 | Ratings: 7.6
Title: Mimi | Release Year: 2021 | Ratings: 8.1
Title: Hindi Medium | Release Year: 2017 | Ratings: 7.9
Title: Jolly LLB 2 | Release Year: 2017 | Ratings: 7.2
Title: Padman | Release Year: 2018 | Ratings: 7.9
Title: Rocket Singh: Salesman of the Year | Release Year: 2009 | Ratings: 7.5
Title: Toilet - Ek Prem Katha | Release Year: 2017 | Ratings: 7.2