### Write a program in python for PCA on any dataset of ur choice to reduce the features.
### Dikshit 19csu379

In [1]:
import pandas as pd

In [10]:
df = pd.read_csv("HR_comma_sep.csv")
df

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,support,low
14995,0.37,0.48,2,160,3,0,1,0,support,low
14996,0.37,0.53,2,143,3,0,1,0,support,low
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low

In [3]:
from sklearn.preprocessing import StandardScaler

In [4]:
features = ['satisfaction_level', 'last_evaluation', 'number_project', 'average_montly_hours', 'time_spend_company', 'Work_accident', 'left', 'promotion_last_5years']
features

['satisfaction_level',
 'last_evaluation',
 'number_project',
 'average_montly_hours',
 'time_spend_company',
 'Work_accident',
 'left',
 'promotion_last_5years']

In [12]:
x = df.loc[:, features].values
x

array([[0.38, 0.53, 2.  , ..., 0.  , 1.  , 0.  ],
       [0.8 , 0.86, 5.  , ..., 0.  , 1.  , 0.  ],
       [0.11, 0.88, 7.  , ..., 0.  , 1.  , 0.  ],
       ...,
       [0.37, 0.53, 2.  , ..., 0.  , 1.  , 0.  ],
       [0.11, 0.96, 6.  , ..., 0.  , 1.  , 0.  ],
       [0.37, 0.52, 2.  , ..., 0.  , 1.  , 0.  ]])

In [6]:
y = df.loc[:,['salary']].values
y

array([['low'],
       ['medium'],
       ['medium'],
       ...,
       ['low'],
       ['low'],
       ['low']], dtype=object)

In [7]:
x = StandardScaler().fit_transform(x)
x

array([[-0.93649469, -1.08727529, -1.46286291, ..., -0.41116529,
         1.788917  , -0.14741182],
       [ 0.75281433,  0.84070693,  0.97111292, ..., -0.41116529,
         1.788917  , -0.14741182],
       [-2.02247906,  0.95755433,  2.59376348, ..., -0.41116529,
         1.788917  , -0.14741182],
       ...,
       [-0.97671633, -1.08727529, -1.46286291, ..., -0.41116529,
         1.788917  , -0.14741182],
       [-2.02247906,  1.42494396,  1.7824382 , ..., -0.41116529,
         1.788917  , -0.14741182],
       [-0.97671633, -1.14569899, -1.46286291, ..., -0.41116529,
         1.788917  , -0.14741182]])

In [8]:
from sklearn.decomposition import PCA

In [13]:
pca = PCA(n_components=4)
principalComponents = pca.fit_transform(x)
principalComponents

array([[-44.06780993,  -0.65140796,   1.22402151,   0.84108759],
       [ 60.96825747,   2.36617527,   0.09049061,   0.54613529],
       [ 70.98086581,   0.93751792,  -2.30390239,   0.83063285],
       ...,
       [-58.06695598,  -0.5611184 ,   1.09898842,   0.85013584],
       [ 78.97016987,   0.61604457,  -1.27381275,   0.82189024],
       [-43.0678815 ,  -0.65777155,   1.23298838,   0.84360466]])

In [14]:
principalDf = pd.DataFrame(data = principalComponents
             , columns = ['component1', 'component2', 'component3', 'component4'])
principalDf

       component1  component2  component3  component4
0      -44.067810   -0.651408    1.224022    0.841088
1       60.968257    2.366175    0.090491    0.546135
2       70.980866    0.937518   -2.303902    0.830633
3       21.966914    1.657778   -0.530783    0.630943
4      -42.067942   -0.664205    1.241901    0.843157
...           ...         ...         ...         ...
14994  -50.067400   -0.612641    1.169816    0.837465
14995  -41.068050   -0.671250    1.252057    0.843471
14996  -58.066956   -0.561118    1.098988    0.850136
14997   78.970170    0.616045   -1.273813    0.821890
14998  -43.067881   -0.657772    1.232988    0.843605

[14999 rows x 4 columns]