## PCA PROGRAM

In [2]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [3]:
dataset=pd.read_csv("stcp-Rdataset-Diet.csv")

In [4]:
x=dataset[["Person","gender","Age","Height","pre.weight","Diet"]]
y=dataset[["weight6weeks"]]

In [5]:
x=StandardScaler().fit_transform(x)

In [8]:
a=pd.DataFrame(x)

In [9]:
a

           0         1         2         3         4         5
0  -0.644021 -0.856349  0.189307  0.016020 -1.445170 -0.047619
1  -0.599605 -0.856349 -0.733566  0.283779  3.516038 -0.047619
2  -1.709986 -0.856349 -1.758980 -1.055017 -1.675924 -1.285714
3  -1.665570 -0.856349  0.702014  1.890333 -1.445170 -1.285714
4  -1.621155 -0.856349  1.624887 -0.073233 -0.983662 -1.285714
..       ...       ...       ...       ...       ...       ...
73  1.532325  1.167748 -0.425941  1.087056  1.208499  1.190476
74  1.576740  1.167748  1.009639  0.551538  1.323876  1.190476
75  1.621155  1.167748 -1.143731 -0.608751  1.439253  1.190476
76  1.665570  1.167748  0.086766 -0.340992  1.670007  1.190476
77  1.709986  1.167748  1.214722  0.373032  1.785384  1.190476

[78 rows x 6 columns]