In [20]:
#REQ
import mysql.connector

In [28]:
#REQ
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="password",
    port=3306,
    database="test"
)

print(mydb)
sql = mydb.cursor(buffered=False)

<mysql.connector.connection.MySQLConnection object at 0x000001D024017310>

In [29]:
sql.execute("SHOW TABLES")

In [30]:
#REQ
sql.execute("CREATE TABLE IF NOT EXISTS user (chat_id INT SIGNED,username VARCHAR(40),password VARCHAR(40))")

InternalError: Unread result found

In [9]:
sql.execute("DROP TABLE USER")

In [14]:
#REQ
com = "INSERT INTO user (chat_id, username) VALUES (%s, %s)"
val = ("-3", "Highway 23")

sql.execute(com, val)
mydb.commit()

In [15]:
#REQ
sql.execute("SELECT * FROM user WHERE chat_id ='-2'")
myresult = sql.fetchall()

for x in myresult:
    print(x)

In [16]:
#REQ UPDATE [table name] SET Select_priv = 'Y',Insert_priv = 'Y',Update_priv = 'Y' where [field name] = 'user';
com = "UPDATE user SET password='pass' WHERE chat_id ='-2'"
sql.execute(com)
mydb.commit()

In [ ]:
#