# What is Web Scrapping
The internet is full of huge amount of data which can be used for different purposes. To collect this data we need to know how to scrape data from a website.

Web scraping is the process of extracting and collecting data from websites and storing it on a local machine or in a database.

In this section, we will use beautifulsoup and requests package to scrape data. The package version we are using is beautifulsoup 4.

To start scraping websites you need requests, beautifoulSoup4 and website.

pip install requests
pip install beautifulsoup4

## Importing

In [1]:
import requests
from bs4 import BeautifulSoup

## Example

In [22]:
url = 'http://g2pc1.bu.edu/~qzpeng/manual/MySQL%20Commands.htm'

# Lets use the requests get method to fetch the data from url

response = requests.get(url)


# lets check the status
status = response.status_code
print(status) # 200 means the fetching was successful

200

In [23]:
print(response.text)

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<!-- saved from url=(0055)http://www.pantz.org/database/mysql/mysqlcommands.shtml -->
<HTML><HEAD><TITLE>MySQL Commands</TITLE>
<META http-equiv=Content-Type content="text/html; charset=iso-8859-1">
<META content="MSHTML 6.00.2900.2963" name=GENERATOR></HEAD>
<BODY><!-- start menu -->
<CENTER>
<TABLE cellSpacing=0 cellPadding=6 bgColor=#aaaaaa border=1>
  <TBODY>
  <TR>
    <TD><A href="http://www.pantz.org/index.shtml">Main Menu</A></TD>
    <TD><A href="http://www.pantz.org/blog">Blog</A></TD>
    <TD><A
href="http://www.pantz.org/about.shtml">About</A></TD></TR></TBODY></TABLE></CENTER>
<P></P><!-- end menu -->
<CENTER>
<TABLE>
  <TBODY>
  <TR>
    <TD><PRE>  __  __       ____   ___  _
 |  \/  |_   _/ ___| / _ \| |
 | |\/| | | | \___ \| | | | |
 | |  | | |_| |___) | |_| | |___
 |_|  |_|\__, |____/ \__\_\_____|
         |___/
 </PRE></TD></TR></TBODY></TABLE></CENTER><BR>
<TABLE border=1>
  <TBODY>
  <TR>
    <TD align=middle bgColor=#aaaaaa colSpan=2><FONT size=3><B>Handy MySQL
      Commands</B></FONT> </TD></TR>
  <TR>
    <TD><B>Description</B></TD>
    <TD><B>Command</B></TD></TR>
  <TR>
    <TD>To login (from unix shell) use -h only if needed.</TD>
    <TD>[mysql dir]/bin/mysql -h hostname -u root -p</TD></TR>
  <TR>
    <TD>Create a database on the sql server.</TD>
    <TD>create database [databasename];</TD></TR>
  <TR>
    <TD>List all databases on the sql server.</TD>
    <TD>show databases;</TD></TR>
  <TR>
    <TD>Switch to a database.</TD>
    <TD>use [db name];</TD></TR>
  <TR>
    <TD>To see all the tables in the db.</TD>
    <TD>show tables;</TD></TR>
  <TR>
    <TD>To see database's field formats.</TD>
    <TD>describe [table name];</TD></TR>
  <TR>
    <TD>To delete a db.</TD>
    <TD>drop database [database name];</TD></TR>
  <TR>
    <TD>To delete a table.</TD>
    <TD>drop table [table name];</TD></TR>
  <TR>
    <TD>Show all data in a table.</TD>
    <TD>SELECT * FROM [table name];</TD></TR>
  <TR>
    <TD>Returns the columns and column information pertaining to the
      designated table.</TD>
    <TD>show columns from [table name];
    <TD>
  <TR>
  <TR>
    <TD>Show certain selected rows with the value "whatever".</TD>
    <TD>SELECT * FROM [table name] WHERE [field name] = "whatever";
    <TD>
  <TR>
  <TR>
    <TD>Show all records containing the name "Bob" AND the phone number
      '3444444'.</TD>
    <TD>SELECT * FROM [table name] WHERE name = "Bob" AND phone_number =
      '3444444';
    <TD>
  <TR>
  <TR>
    <TD>Show all records not containing the name "Bob" AND the phone number
      '3444444' order by the phone_number field.</TD>
    <TD>SELECT * FROM [table name] WHERE name != "Bob" AND phone_number =
      '3444444' order by phone_number;
    <TD>
  <TR>
  <TR>
    <TD>Show all records starting with the letters 'bob' AND the phone number
      '3444444'.</TD>
    <TD>SELECT * FROM [table name] WHERE name like "Bob%" AND phone_number =
      '3444444';
    <TD>
  <TR>
  <TR>
    <TD>Use a regular expression to find records. Use "REGEXP BINARY" to force
      case-sensitivity. This finds any record beginning with a. </TD>
    <TD>SELECT * FROM [table name] WHERE rec RLIKE "^a$";
    <TD>
  <TR>
  <TR>
    <TD>Show unique records.</TD>
    <TD>SELECT DISTINCT [column name] FROM [table name];</TD></TR>
  <TR>
    <TD>Show selected records sorted in an ascending (asc) or descending
      (desc).</TD>
    <TD>SELECT [col1],[col2] FROM [table name] ORDER BY [col2] DESC;</TD></TR>
  <TR>
    <TD>Count rows.</TD>
    <TD>SELECT COUNT(*) FROM [table name];
    <TD>
  <TR>
  <TR>
    <TD>Join tables on common columns.</TD>
    <TD>select lookup.illustrationid, lookup.personid,person.birthday from
      lookup<BR>left join person on lookup.personid=person.personid=statement to
      join birthday in person table with primary illustration id;</TD></TR>
  <TR>
    <TD>Switch to the mysql db. Create a new user.
    <TD>INSERT INTO [table name] (Host,User,Password)
      VALUES('%','user',PASSWORD('password'));</TD></TR>
  <TR>
    <TD>Change a users password.(from unix shell).</TD>
    <TD>[mysql dir]/bin/mysqladmin -u root -h hostname.blah.org -p password
      'new-password'</TD></TR>
  <TR>
    <TD>Change a users password.(from MySQL prompt).</TD>
    <TD>SET PASSWORD FOR 'user'@'hostname' = PASSWORD('passwordhere');</TD></TR>
  <TR>
    <TD>Switch to mysql db.Give user privilages for a db.</TD>
    <TD>INSERT INTO [table name]
      (Host,Db,User,Select_priv,Insert_priv,Update_priv,Delete_priv,Create_priv,Drop_priv)
      VALUES ('%','db','user','Y','Y','Y','Y','Y','N');</TD></TR>
  <TR>
    <TD>To update info already in a table.</TD>
    <TD>UPDATE [table name] SET Select_priv = 'Y',Insert_priv =
      'Y',Update_priv = 'Y' where [field name] = 'user';</TD></TR>
  <TR>
    <TD>Delete a row(s) from a table.</TD>
    <TD>DELETE from [table name] where [field name] = 'whatever';</TD></TR>
  <TR>
    <TD>Update database permissions/privilages.</TD>
    <TD>FLUSH PRIVILEGES;</TD></TR>
  <TR>
    <TD>Delete a column.</TD>
    <TD>alter table [table name] drop column [column name];</TD></TR>
  <TR>
    <TD>Add a new column to db.</TD>
    <TD>alter table [table name] add column [new column name] varchar
  (20);</TD></TR>
  <TR>
    <TD>Change column name.</TD>
    <TD>alter table [table name] change [old column name] [new column name]
      varchar (50);</TD></TR>
  <TR>
    <TD>Make a unique column so you get no dupes.</TD>
    <TD>alter table [table name] add unique ([column name]);</TD></TR>
  <TR>
    <TD>Make a column bigger.</TD>
    <TD>alter table [table name] modify [column name] VARCHAR(3);</TD></TR>
  <TR>
    <TD>Delete unique from table.</TD>
    <TD>alter table [table name] drop index [colmn name];</TD></TR>
  <TR>
    <TD>Load a CSV file into a table.</TD>
    <TD>LOAD DATA INFILE '/tmp/filename.csv' replace INTO TABLE [table name]
      FIELDS TERMINATED BY ',' LINES TERMINATED BY '\n'
    (field1,field2,field3);</TD></TR>
  <TR>
    <TD>Dump all databases for backup. Backup file is sql commands to recreate
      all db's.</TD>
    <TD>[mysql dir]/bin/mysqldump -u root -ppassword --opt
      &gt;/tmp/alldatabases.sql</TD></TR>
  <TR>
    <TD>Dump one database for backup.</TD>
    <TD>[mysql dir]/bin/mysqldump -u username -ppassword --databases
      databasename &gt;/tmp/databasename.sql</TD></TR>
  <TR>
    <TD>Dump a table from a database.</TD>
    <TD>[mysql dir]/bin/mysqldump -c -u username -ppassword databasename
      tablename &gt; /tmp/databasename.tablename.sql</TD></TR>
  <TR>
    <TD>Restore database (or database table) from backup.</TD>
    <TD>[mysql dir]/bin/mysql -u username -ppassword databasename &lt;
      /tmp/databasename.sql </TD></TR>
  <TR>
    <TD>Create Table Example 1.</TD>
    <TD>CREATE TABLE [table name] (firstname VARCHAR(20), middleinitial
      VARCHAR(3), lastname VARCHAR(35),suffix VARCHAR(3),<BR>officeid
      VARCHAR(10),userid VARCHAR(15),username VARCHAR(8),email VARCHAR(35),phone
      VARCHAR(25), groups <BR>VARCHAR(15),datestamp DATE,timestamp time,pgpemail
      VARCHAR(255)); </TD></TR>
  <TR>
    <TD>Create Table Example 2.</TD>
    <TD>create table [table name] (personid int(50) not null auto_increment
      primary key,firstname varchar(35),middlename varchar(50),lastname
      varchar(50) default 'bato'); </TD></TR></TBODY></TABLE></BODY></HTML>

In [57]:
html_soup = BeautifulSoup(response.text, 'html.parser')
table=html_soup.findAll('td')
d={}
for i in range(7,17,2):
    d[table[i].text]=table[i+1].text
    print(table[i].text,":",table[i+1].text)
    print()

To login (from unix shell) use -h only if needed. : [mysql dir]/bin/mysql -h hostname -u root -p

Create a database on the sql server. : create database [databasename];

List all databases on the sql server. : show databases;

Switch to a database. : use [db name];

To see all the tables in the db. : show tables;

In [60]:
for key,value in d.items():
    print(key,":",value)
    print()

To login (from unix shell) use -h only if needed. : [mysql dir]/bin/mysql -h hostname -u root -p

Create a database on the sql server. : create database [databasename];

List all databases on the sql server. : show databases;

Switch to a database. : use [db name];

To see all the tables in the db. : show tables;

In [9]:
r=requests.get('https://coronavirus-19-api.herokuapp.com/all')
data = r.json()
text = f'Confirmed Cases : {data["cases"]} \nDeaths : {data["deaths"]} \nRecovered : {data["recovered"]}'
print(text)

Confirmed Cases : 103969901
Deaths : 2248872
Recovered : 75817103

In [13]:
r=requests.get('https://api.namefake.com/english-united-states/female/')
data = r.json()
print(data)

{'name': 'Adele Oberbrunner Sr.', 'address': '51163 Aurelia Park\nLangbury, MD 75304', 'latitude': -21.261353, 'longitude': 96.519225, 'maiden_name': 'Frami', 'birth_data': '1991-10-26', 'phone_h': '1-178-257-0782x31391', 'phone_w': '+19(5)3278017882', 'email_u': 'jaclyn.zulauf', 'email_d': 'quickhondaparts.com', 'username': 'mheathcote', 'password': 'v]A?Pm(*R0;', 'domain': 'lebsack.com', 'useragent': 'Opera/8.39 (X11; Linux x86_64; en-US) Presto/2.10.203 Version/12.00', 'ipv4': '163.142.181.16', 'macaddress': 'A5:8D:65:A3:AE:AE', 'plasticcard': '5308120206915542', 'cardexpir': '04/21', 'bonus': 25, 'company': 'Auer, Blick and Skiles', 'color': 'olive', 'uuid': '2405914e-d48d-3ecb-aa64-11e8eb003ce7', 'height': 188, 'weight': 46.1, 'blood': 'O+', 'eye': 'Blue', 'hair': 'Wavy, Black', 'pict': '3female', 'url': 'https://api.namefake.com/english-united-states/female/ccbca64731457524a442ee65783857dd', 'sport': 'Cycling BMX', 'ipv4_url': '//myip-address.com/ip-lookup/163.142.181.16', 'email_url': '//emailfake.com/quickhondaparts.com/jaclyn.zulauf', 'domain_url': '//myip-address.com/ip-lookup/lebsack.com'}

In [20]:
text=f'''My name is : {data["name"]}\nMaiden name is : {data['maiden_name']} \nAddress is : {data['address']}\nEmail ID is : {data['email_d']}\nUserName is : {data["username"]}\nPassword is : {data["password"]}'''

print(text)

My name is : Adele Oberbrunner Sr.
Maiden name is : Frami
Address is : 51163 Aurelia Park
Langbury, MD 75304
Email ID is : quickhondaparts.com
UserName is : mheathcote
Password is : v]A?Pm(*R0;